<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>Rishee Gandhi</h1> -->
  <!-- <a href="/admin/register"><button>Registration for admin</button></a> -->
  <a href="/admin/login"><button>Login as Admin</button></a>
  <a href="/user/register"><button>Registration</button></a>
  <a href="/user/login"><button>Login as Student</button></a>
</body>
</html>